<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css">
  <style>
  body {
    background-color: #E0E0E0;
    color: #fff;
  	}
  </style>

</head>
<body>
  <header style="background-color: #45699D; color: white; padding: 1rem;">
    <div style="display:flex; justify-content:space-between; align-items:center;">
     <a href="https://www.youtube.com/@techunder5" target="_blank" style="text-decoration: none; color: inherit;"> <h1 style="margin: 0;color:white;">TechUnder5</h1></a>
      <nav>
        <a href="/" style="color:white; margin-right:15px;">Home</a>
        <a href="/consulting" style="color:white; margin-right:15px;">Consulting</a>
        <a href="/contact/contact.html" style="color:white;">Contact</a>
      </nav>
    </div>
  </header>

  <main style="padding: 2rem;">
    {{ content }}
  </main>

<footer style="text-align: center; padding: 1rem; background-color: #f0f0f0; color: #333; font-size: 0.9rem; margin-top: 2rem;">
  &copy; {{ site.time | date: "%Y" }} <strong>TechUnder5</strong> — hosted at <a href="https://techunderfive.com" style="color: #1a73e8; text-decoration: none;">techunderfive.com</a>
</footer>

</body>
</html>
